# py/ide stuff
.idea/
__pycache__/
*.log

# build and distribution directories
build/
dist/

# game
*.lithicriversworlddata

# coverage stuff
*.lcov
.coverage
coverage/
.run/
htmlcov/

# profiling
*.speedscope
profile_cpu.svg

# other
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz