[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asciimatics = "*"
numpy = "*"

[dev-packages]
pyinstaller = "*"
macholib = { version = "*", sys_platform = "== 'darwin'" } # osx packaging tool for pyinstaller

[requires]
python_version = "3"
